*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.c1{
    background-color: aqua;
}
.c2{
    background-color: aquamarine;
}
.c3{
    background-color: rgb(39, 63, 63);
}
.c4{
    background-color: gray;
}
.c5{
    background-color: blue;
}

@media (min-width: 600px) {
    .c1{
        width: 25%;
        order: 1;
    }
    .c2{
        width: 75%;
        order: 2;
    }
    .c3{
        width: 100%;
        order: 3;
    }
    .c4{
        width: 100%;
        order: 4;
    }
    .c5{
        width: 100%;
        order: 5;
    }
} 
@media (min-width: 800px){ /* breakpointMedia*/
    /* .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;

        margin: 0 auto; 
    }  */
    .c1{
        width: 30%;
    }
    .c2{
        width: 40%;
        order: 2;
    }
    .c3{
        width: 30%;
    }
    .c4{
        width: 50%;
    }
    .c5{
        width: 50%;
    }
}