*{
    box-sizing: border-box;
    width: 0;
    height: 0;
}
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    background-color: darkgray;
    font-family: sans-serif;
    color: aliceblue;

    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;

}
.encabezado{
    background: #333;
	color: white;
	height: 80px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
footer{
    color: white;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	bottom: 0;
}
footer div{
    margin: 0;
    width: 55rem;
    border-color: black;
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
    height: 80px;
}
div p{
    text-align: center;
}
